@tailwind base;
@tailwind components;
@tailwind utilities;

/* Autofill Styles */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #444; /* Maintain your border color */
  -webkit-text-fill-color: #fff; /* Ensure text color stays white */
  -webkit-box-shadow: 0 0 0px 1000px rgba(39, 39, 42, 0.2) inset; /* Match your transparent background */
  transition: background-color 5000s ease-in-out 0s; /* Prevent flashing */
}

/* Background Image */
.hero-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url("/netflix-bg.jpg");
  background-size: cover; /* Ensures the image covers the container */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-attachment: fixed; /* Fixes the background during scroll */
  background-size: cover; /* Make sure the image scales to cover the container */
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.shimmer {
  animation: shimmer 2s infinite linear;
  background: linear-gradient(to right, #2c2c2c 4%, #333 25%, #2c2c2c 36%);
  background-size: 1000px 100%;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #dc2626;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #1a202c;
}
